.contact--grid {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact--grid--options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact--grid--options--option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

/* .contact--grid--options--option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
} */

.contact--grid--options--option--icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact--grid--options--option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .contact--grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .contact--grid {
    width: var(--container-width-sm);
  }
}
