/* GENERAL STYLES */
a {
  color: var(--color-dark);
  padding: 1rem 1.2rem;
}

a:hover {
  color: var(--color-primary);
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  /* TODO */
}

h1 {
  font-size: 3.5rem;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* height: calc(100vh - 60px - 6rem); */
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-dark);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
}

.btn:hover {
  color: var(--color-light);
  background-color: var(--color-primary-variant);
}

.btn-primary {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.noscroll {
  overflow: hidden;
}

.text-primary {
  color: var(--color-primary);
}

.text-dark {
  color: var(--color-dark);
}

.text-light {
  color: var(--color-light);
}

/* MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    /* height: calc(100vh - 60px - 10rem); */
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-top: 0rem;
    margin-bottom: 5rem;
  }
}
