/* GENERAL STYLES */
a {
  color: var(--color-links);
  padding: 1rem 1.2rem;
}

a:hover {
  color: var(--color-primary);
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  /* TODO */
}

h1 {
  font-size: 2.5rem;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: calc(100vh - 60px - 6rem);
}

.btn {
  cursor: pointer;
  color: var(--color-links);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
}

.btn:hover {
  color: var(--color-secondary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.noscroll {
  overflow: hidden;
}

.text-primary {
  color: var(--color-primary);
}

/* MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-bottom: 8rem;
  }
}
