@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-header: #fffcf2;
  --color-bg: #ccc5b9;
  --color-bg-variant: rgb(64, 61, 57, 0.6);

  --color-primary: #eb5e28;
  --color-primary-variant: rgb(235, 94, 40, 0.8);
  --color-dark: #252422;
  --color-light: #ffffff;

  --transition: all 400ms ease;

  --container-width-lg: 80%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

body {
  background-color: var(--color-bg);
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
